<h2>{{data.title}}</h2>
<div *ngIf="data.type === 'delete'">
  <p>Sei sicuro di voler cancellare il prodotto:</p>
  <p>{{product.data.title}}</p>
  <div fxLayout="row" fxLayoutAlign="space-between" class="button-container">
    <button (click)="dialogRef.close()" mat-raised-button color="warn">No</button>
    <button (click)="deleteProduct(product.id)" mat-raised-button color="primary">Si</button>
  </div>
</div>

<div *ngIf="data.type !== 'delete'">
  <form [formGroup]="productForm" fxLayout="row wrap" fxLayoutAlign="space between" fxLayoutGap="2rem">
    <mat-form-field>
      <mat-label>Titolo</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <input matInput formControlName="category">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prezzo</mat-label>
      <input matInput type="number" formControlName="price">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dipendente</mat-label>
      <input matInput formControlName="employee">
    </mat-form-field>

    <mat-form-field fxFill class="full-width">
      <mat-label>Descrizione</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
  <div fxLayout="row" fxLayoutAlign="space-between" class="button-container">
    <button (click)="dialogRef.close()" mat-raised-button color="warn">Chiudi</button>
    <button [disabled]="productForm.invalid" (click)="formSubmit(productForm)" mat-raised-button color="primary">Aggiungi</button>
  </div>
</div>
