.mat-expansion-panel-header-description {
  justify-content: end;
}

.card-title {
  min-height: 5rem;
}

.review-accordion {
  margin: 1rem;
}

.full-width {
  width: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 0 1rem;
  table-layout: fixed;

  td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

