.mat-expansion-panel-header-description {
  justify-content: end;
}

.review-accordion {
  margin: 1rem;
}

.full-width {
  width: 100%;
}

table {
  border-collapse:separate;
  border-spacing:0 1rem;
}

