<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between" class="card-title">
      <h2>{{product.data.title}}</h2>
      <div class="button-container">
        <button mat-icon-button class="delete-icon">
          <mat-icon (click)="deleteProduct(product)">delete</mat-icon>
        </button>
      </div>
    </div>
    <div>
      <p>Categoria: {{product.data.category}}</p>
      <p>{{product.data.description}}</p>
      <p>Prezzo: {{product.data.price}}</p>
      <p>Dipendente: {{product.data.employee}}</p>
      <mat-accordion>
        <mat-expansion-panel [disabled]="!product.data.reviews">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Commenti
            </mat-panel-title>
            <mat-panel-description>
              <div>{{product.data.reviews && product.data.reviews.length}}</div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let review of product.data.reviews">
            <mat-accordion class="review-accordion">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div>{{review.title}}</div>
                  </mat-panel-title>
                  <mat-panel-description>
                    <div>{{review.user}}</div>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{review.description}}</p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>


