<div *ngIf="loaded" fxLayout="column" fxFlex="100" [fxLayout.gt-xs]="columnLayout ? 'row wrap' : 'column'">
  <div class="product" fxFlex.gt-md="30" fxFlex="40" *ngFor="let product of productsList">
    <app-product-card [product]="product.data"></app-product-card>
  </div>
  <mat-paginator [length]="pageEvent.length"
                 [pageSize]="pageEvent.pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="changePage($event)">
  </mat-paginator>

</div>

<div class="loader" fxLayout="row" fxLayoutAlign="space-around center" style="height:100%" *ngIf="!loaded">
  <mat-spinner fxLayoutAlign="center"></mat-spinner>
</div>
